.container {
    background: plum;
    border: 4px solid indigo;
    border-radius: 8px;
    padding: 32px;
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column; /* Since the grid is divided into horizontal tiles */
    justify-content: center;
}

.tileRow {
    height: 100%;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: center;
}

.tile {
    background: white;
    flex: auto;
}