.container {
    background: plum;
    border: 4px solid indigo;
    border-radius: 8px;
    padding: 8px;
    width: 1024px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tileRow {
    background: white;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: center;
}

.tile {
    background: white;
    border: 1px solid black;
    flex: auto;
}